
@model Emprendimiento_Codigo_Limpio_Entrega2.Models.MiembroModel

@{
    ViewBag.Title = "Crear miembro";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<h2>CREACIÓN DE MIEMBROS</h2>

@using (Html.BeginForm("Crear_miembro", "CrearIdea", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rol, htmlAttributes: new { @class = "text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rol, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="form-group">
                <input type="submit" name="action" value="Crear Miembro" class="btn btn-default crear_miembro-btn" />
            </div>

        </div>


    </div>


}

@using (Html.BeginForm("Crear_color", "CrearIdea", FormMethod.Post))
{
    <input type="submit" value="Siguiente" class="btn btn-default siguiente-btn" />
}

@using (Html.BeginForm("Crear_idea", "CrearIdea", FormMethod.Post))
{
    <input type="submit" value="Atras" class="btn btn-default atras-btn" />
}

<style>

    body {
        background-image: url('../../Imagenes/Imagen_4.png');
        background-size: 50%;
        background-color: #A5EAF3;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        margin-left: 80px;
    }

    .form-horizontal {
        margin-left: 80px;
    }

    .text {
        margin-top: 15px;
        font-family: Consolas;
        font-size: 18px;
    }

    .crear_miembro-btn {
        font-size: 16px;
        text-align: center;
        background-color: #F2A154;
        color: white;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 40px;
        cursor: pointer;
        position: relative;
        margin-left: 60px;
        margin-top: 40px;
    }

    .siguiente-btn {
        font-size: 16px;
        text-align: center;
        background-color: #F2A154;
        color: white;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 40px;
        cursor: pointer;
        position: relative;
        margin-left: 300px;
        margin-top: 50px;
    }

    .atras-btn {
        font-size: 16px;
        text-align: center;
        background-color: #F2A154;
        color: white;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 40px;
        cursor: pointer;
        position: relative;
        margin-left: 40px;
        width: 100px;
        margin-top: -75px;
    }


</style>

